.App {
  text-align: center;
}

.App-logo {
  max-width: 100vw;
  max-height: 20vh;
  /*flex-direction: column;*/
  /**/
  /*animation: App-logo-spin infinite 5s linear;*/
  /*height: 40vmin;*/
  /*b*/
  /*<img src={} className="App-logo" alt="logo" /> */
}


.App-header {
  background-color: #1D2731;
  display: flex;
  
  /*min-height: 100vh;
  flex-direction: column;
  #6384A0
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
  background: linear-gradient(177.3deg, 
    #FFFAFAFA 24%, 
    #00000000 43%,
    
    #FFFAFAFA 48%), 
    url("./columbia.jpg") no-repeat 80% 30%;
  background-size: 100%;
  /* background-repeat: no-repeat; */
}

.App-link {
  color: #D9B310;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
